:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #e5e5e5;
  --color-darkGray: #888;
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff3333;

  --background-dark: rgb(19, 20, 23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  position: relative;
  height: 100vh;
  transition: all 0.5s;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.darkBackGround {
  background-color: var(--background-dark);
}

.whiteText {
  color: var(--color-white);
}

/* ============= Scrool Bar ============ */

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  width: 2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 2rem;
  height: 2rem;
}

/* ============= TYPOGRAPHY ============ */

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

h4 {
  font-size: 1.8rem;
  color: var(--color-darkGray);
}

input {
  font-size: 1.8rem;
  color: var(--color-black);
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

/* ============= Navbar ============ */

.navbar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  width: 100%;
}

.navbar h4 {
  color: var(--color-black);
  transition: all 0.5s;
}

.navbar__items-screenMode {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}
.screenMode__svg {
  position: absolute;
  cursor: pointer;
  transition: all 0.5s;
  height: 3.6rem;
  width: 3.6rem;
}

/* ============= main ============ */
.main {
  padding: 2rem;
}

.main__searchBox {
  position: relative;
  margin-bottom: 4rem;
  width: 40rem;
}

.input__search {
  outline: none;
  border: none;

  height: 4rem;
  width: 100%;
  padding: 0.8rem 0 0.8rem 4.6rem;
  border-radius: 0.6rem;
}

.search__svg-Box {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.search__svg {
  height: 2.4rem;
  width: 2.4rem;
}

/* ============= Country ============ */

.countryBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4;

  padding: 4rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  cursor: pointer;
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin-bottom: 4rem;
  transition: all 0.5s;
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

.country:hover {
  transform: scale(1.04);
}

.country h4 {
  margin-bottom: 2.5rem;
}

.country__country {
  padding: 1.4rem 1.2rem;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: var(--color-gray);
  border-radius: 0.7rem 0.7rem 0 0;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid var(--color-white);
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

/* ============= Overlay ============ */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  transition: all 0.5s;
}

/* =============== Spinner ============= */

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 3.3rem;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: var(--color-white);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 0.8rem;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 0.8rem;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 3.2rem;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 5.6rem;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2.4rem, 0);
  }
}

/* ============= Error Message ============ */
.errorBox {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  display: flex;
  text-align: center;
  position: relative;
  margin: auto;
  top: 55%;
  gap: 2rem;
  padding: 2rem;
  width: 44rem;
  border-radius: 1.2rem;

  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.errorMsg {
  display: flex;
  align-items: center;
}

.errorMsg > h4 {
  width: 20ch;
}

.errorBtn {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 0.4rem;
  background-color: var(--color-tertiary);
}

.errorBtn > svg {
  height: 2.6rem;
  width: 2.6rem;
}

/* ============= Media Queries ============ */

@media screen and (max-width: 468px) {
  .container {
    max-width: 420px;
  }
  h2 {
    font-size: 2.4rem;
  }
  .navbar h4 {
    font-size: 1.6rem;
  }
  .navbar__items-screenMode {
    gap: 0.6rem;
  }
  .main__searchBox {
    width: 37.2rem;
  }
  .countryBox {
    gap: 6rem;
  }
  .country {
    margin-bottom: 0;
  }
  .errorBox {
    top: 60%;
  }
  .error {
    width: 28rem;
  }
  .errorSvg {
    display: none;
  }
}
